html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFF7F5;
}

header {
    height: 8%;
    background-color: #FFFFFF;
    display: flex;
}
.nameAndLogo {
    width: 20%;
}

.fewThemes {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.divContentNameUser {
    width: 15%;
    margin-left: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.divContentNameUser p, .fewThemes p {
    padding: 0;
    margin: 0;
}

.blocPage {
    height: 90%;
    border: 1px solid black;
}

.textPres {
    text-align: center;
}

.textPres p {
    font-size: 32px;
    padding: 0;
    margin: 0;
}

.textPres:first-child {
    margin-top: 2%;
}

.allProducts {
    width: 70%;
    height: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    width: 20%;
    height: 75%;
    margin-left: 5%;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product p {
    font-size: 20px;
}

.title {
    margin-top: 30%;
}